<script>
    document.querySelector("#photu")
        .addEventListener("click", function () {
            document.querySelector("#uploadbtn").click();
        })

    document.querySelector("#uploadbtn")
        .addEventListener("change", function () {
            document.querySelector("#photoform").submit();
        });
</script>
</body>

</html>



<!-- //multer -->
<!-- document.querySelector("#photu")
    .addEventListener("click",function(){
        document.querySelector("#uploadbtn").click();
    }) -->























<!-- <button><a href="/greyscale">greyscale</a></button><br>
        <button><a href="/invert">invert</a></button><br>
        <button><a href="/normalize">normalize</a></button><br>
        <button><a href="/sepia">sepia</a></button><br> -->

<!-- <button id="greyscale">greyscale</button><br>
        <button id="invert">invert</button><br>
        <button id="normalize">normalize</button><br>
        <button id="sepia">sepia</button><br> -->